.wrapper {
	max-width: 80%;
	margin:0 auto;
	padding -bottom: 80px;
}

.site_name, .main_menu , h1 {text-transform: uppercase;}


header {
	max-width: 100%;
	min-height: 1000px;
	background: url(../img/temp1.jpg) no-repeat;
	background-size: contain;
}

a{	
	display: inline-block;
	color: #212121;
	transition: all .3s ease-in-out;
}

a:hover {
	transform: scale(1.1, 1.1);	
}
.site_name {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding-top: 52px;
	display: inline-block;
	color: #212121;
}

.main_menu {
	text-align: right;
	padding-top: 56px;
	display: inline-block;
    float: right;
}

.main_menu li{
	display: inline-block;
	padding-left: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #212121;
	font-weight: 600;
}

nav .burger_menu {display: none;}

.storyteller {
	float: right;
	width: 570px;
	padding-top: 50%;
	text-align: right;
}

h1 {
	margin-top: -264px;
	font-size: 72px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	color: #212121;
}

h1:after {
	content: '';
	display: block;
	width: 139px;
	height: 3px;
	background: #212121;
	float:right;
	margin-top: 16px;
}

.storyteller  p{
	padding-left: 20px;
}

.storyteller a p {
	display: inline-block;
	border: 2px solid #212121;
	padding: 17px 82px;
	transition: all .3s ease-in-out;
}
.storyteller a:hover p {
	transform: scale(.96, .96);
}
p{
	line-height: 34px;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}


.who_why h3 {
	text-align: center;
}


.who_why img {
	display: block;
	margin: 0 auto;
}

.who_why p {
	text-align: center;
	width:90%;
	margin: 0 auto;
}

.features {
	background: #efefef;
}

.feature {
	font-size: 16px;
    padding:80px 0 100px 8.5%;
    width: 24%;
    display: inline-block;
}

.articles {
	height: 835px;
	
}

.articles h3 {
	text-align: center;
}

.articles p {
	width: 760px;
	margin: 0 auto;
	text-align: center;
}

.article {
	background: #212121;
	font-size: 16px;
    padding:80px 0 100px 8.5%;
    width: 24%;
    display: inline-block;
}