body {
  background:black;
}

.menu-1{
  text-align: center;
  letter-spacing: 0.5em;
  padding: 50px;
  background: #912470;
  width: 100%;
}

.menu-1 li {
  display:inline-block;
  padding:10px;
  /*width: 1000px;*/

}
.menu-1 a {
  display:inline-block;
  /*color: #f0f0f0;*/
  text-transform: uppercase;
  display:inline-block;
  box-sizing:border-box;
  font-size:20px;
  text-decoration:none;
  transition:color .7s ease-in-out;

}
.menu-1 li:hover a{  
  color:#000;
}

.menu-1 a::before, .menu-1 a::after {
  display: block; 
  position: relative;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.menu-1 a::before {bottom:30px;}
.menu-1 a::after {top:30px;}

.menu-1 li:hover a::before{
    opacity: 1;
    background:#000;
    bottom:10px;

}

.menu-1 li:hover a::after{
  opacity: 1;
  background: #000;
  top: 10px;
}
