body {
  background:black;
}

.menu-2 {
  text-align: center;
  letter-spacing: 0.5em;
  padding: 50px;
  width: 100%;
  background:   #4C59D8;
}

.menu-2 li {
  display:inline-block;
  padding:10px;

}

.menu-2 a {
  display:inline-block;
  text-transform: uppercase;
  display:inline-block;
  box-sizing:border-box;
  font-size:20px;
  text-decoration:none;
  transition:color .3s ease-in;

}
.menu-2 li:hover li{  
  color:#f0f0f0;
}

.menu-2 a::before, a::after {
  display: block; 
  position: relative;
  width: 1px;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  transition: all .7s ease-in-out;
}



.menu-2 a::before {bottom:10px; left: 0;}
.menu-2 a::after {top:10px; left:100%;}

.menu-2 li:hover a::before{
    background:pink;
    animation: one .7s ease-in-out forwards;


}

.menu-2 li:hover a::after{
  background: pink;
  left:0;
  animation: one .7s ease-in-out forwards;
  
}

@keyframes one {
   100% {
    opacity: 1;
    width: 100%;
   }

}